<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
    <link rel="stylesheet" href="/style.css">

    <!-- rating css -->
    <link rel="stylesheet" href="/rating.css">

    <!-- bootstrap is being used -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Styling link -->

    <!-- font awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    
</head>

<body>
    <!-- <h1>Wanderlust</h1> -->

    <!-- First I have created includes folder within views folder to add small modules or template because it is good way to divide your code into smaller parts -->
    <%- include("../includes/navbar.ejs") %>

        <!-- 1) The "../" symbol represents the parent directory.
     2) When you use "../foldername," you are specifying a directory called "foldername" that is located in the parent directory of the current directory. -->


        <!-- 1) The "./" symbol represents the current directory.
     2) When you use "./foldername," you are specifying a directory called "foldername" that is located in the current directory (the one you are currently in). -->

        <div class="container">
            <!-- including flash code -->
            <!-- you will learn what is flash in sag84_project -->
            <%- include("../flash.ejs") %>
            <%- body %>
        </div>

        <%- include("../includes/footer.ejs") %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
            <script src="/script.js"></script>
</body>

</html>

<!-- you can see font size and many other things are changed by using bootstrap -->